{% extends 'base.html' %}
{% block title %}
  Login
{% endblock title %}
{% block content %}
  <div class="container">
    <h1 class="mt-5 text-center" style="font-family: 'S-CoreDream-3Light';">로그인</h1>
    <hr>
    <div class="mt-5 d-flex justify-content-center">
      <form action="{% url 'accounts:login' %}" method="POST" class="d-grid gap-2">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
          <input type="submit" value="Login" class="btn btn-dark border-radius">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
