{% extends 'base.html' %}
{% block title %}
  Sign up
{% endblock title %}
{% block content %}
  <div class="container">
    <h1 class="mt-5 text-center">회원가입</h1>
    <hr>
    <div class="mx-auto mt-5 d-flex justify-content-center" style="width: 700px;">
      <form action="{% url 'accounts:signup' %}" method="POST" class="d-grid w-50 gap-2">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
          <input type="submit" value="Sign up" class="btn btn-dark border-radius p-2">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
