{% extends 'base.html' %}

{% block content %}
  <!-- 상단 EXHIBITION 배너 -->
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center bg_cover">
    <b class="fs-1 bg_img text-center d-flex align-items-center justify-content-center">EXHIBITION</b>
  </div>
  <!-- 전시회 정보 -->
  <!-- 전시회 제목 -->


  <h2 class="text-center mt-4">{{ post.title }}
    <hr class="mx-auto" style="width:50%">
    <span class="fs-6 d-block">{% for artist in post.artists.all %} · {{ artist.name_ko }}
    {% endfor %} · </span>  </h2>


  <div class="container-fluid d-flex justify-content-center align-items-center my-5">
    <div class="d-flex mt-5" style="height:600px; gap:6rem">
        <img class="detail_img" src="{{ post.thumbnail.url }}" alt="theme_img" enctype="multipart/form-data">              
        <!-- table : 전시회 세부 -->
        <div class="d-flex justify-content-center align-items-between text-center fs-5">
            <table class="table text-start text-nowrap" style="width:500px; font-size:16px">
                <tr>
                    <th scope="row"><span class="">기간</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.period }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">시간</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.time }}</span> </td>
                </tr>
                <tr>
                    <th scope="row"><span class="">장소</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.gallery.name }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">주소</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.gallery.address }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">휴관</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.gallery.closed_days }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">관람료</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.charge }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">전화번호</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.gallery.contact }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">사이트</span></th>
                    <td><span class="border-start ps-3 "><a class="link-dark" href="{{ post.url }}">홈페이지 바로가기</a></span></td>
                </tr>
                <tr>
                    <th scope="row" class="border-0"><span class="">작가</span></th>
                    <td class="border-0"><span class="border-start ps-3 "><span class="fs-6">{% for artist in post.artists.all %} · {{ artist.name_ko }}
                      {% endfor %} · </span></span></td>
                </tr>   
                <tr>
                    <th scope="row" class="border-0"><span class=""></span></th>
                    <td class="text-end border-0">
                        {% if request.user.is_authenticated %}
                        <form id="like-form" data-post-id="{{ post.pk }}">
                            {% csrf_token %}
                            {% if request.user in post.like_users.all %}
                            <button type="submit" class="heart-button2">♥</button>
                            {% else %}
                            <button type="submit" class="heart-button2">♡</button>
                            {% endif %}
                        </form>
                        {% endif %}
                        {% comment %} <p style="font-size:7px"> 좋아요 수 : {{ post.like_users.count }}</p> {% endcomment %}
                    </td>
                </tr>         
            </table>
        </div>
    </div>
</div>
<hr>
<!-- 설명 -->
<div class="container" style="color:gray;">
    <p>-</p>
    <p>{{ post.description }}</p>
    <p class="my-4">
      <b>※ 아트맵에 등록된 이미지와 글의 저작권은 각 작가와 필자에게 있습니다.</b>
    </p>
  </div>
  <hr>
  {% include 'posts/review.html' %}

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- like -->
  <script>
    const likeForm = document.querySelector('#like-form');
    const csrftoken1 = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value;
    likeForm.addEventListener('submit', function (event) {
      event.preventDefault();
      const postId = this.dataset.postId;
      axios({
        method: 'post',
        url: `/post/${postId}/like`,
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
        .then((response) => {
          const isLiked = response.data.is_liked;
          const likeBtn = document.querySelector('#like-form > button[type=submit]');
          if (isLiked === true) {
            likeBtn.value = '♥';
            likeBtn.innerText = '♥';
          } else {
            likeBtn.value = '♡';
            likeBtn.innerText = '♡';
          }
        })
        .catch((error) => {
          console.error(error);
        });
    });
  </script>
{% endblock script %}

