{% extends 'base.html' %}

{% block content %}
<!-- 상단 EXHIBITION 배너 -->
<div class="container-fluid d-flex flex-column justify-content-center align-items-center bg_cover">
    <b class="fs-1 bg_img text-center d-flex align-items-center justify-content-center">EXHIBITION</b>
</div>
<!-- 전시회 정보 -->
<!-- 전시회 제목 -->

<h2 class="text-center mt-5">{{ post.artist }} : {{ post.title }}</h2>
<!-- 아이디어 받습니다~ -->
<div class="" style="margin-left:85%;" >
    <form action="{% url 'posts:like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in post.like_users.all %}
        <input type="submit" value="추천합니다!" class="btn btn-primary">
        {% else %}
        <input type="submit" value="추천할까요?" class="btn btn-outline-primary">
        {% endif %}
    </form>
    <p>추천 개수 : {{ post.like_users.count }}</p>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center my-5">
    <div class="d-flex mt-5" style="height:600px; gap:6rem">
        <img class="detail_img" src="{{ post.thumbnail.url }}" alt="theme_img" enctype="multipart/form-data">              
        <!-- table : 전시회 세부 -->
        <div class="d-flex justify-content-center align-items-between text-center fs-5">
            <table class="table text-start text-nowrap" style="width:500px; font-size:16px">
                <tr>
                    <th scope="row"><span class="">기간</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.period }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">시간</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.time }}</span> </td>
                </tr>
                <tr>
                    <th scope="row"><span class="">장소</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.venue }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">주소</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.address }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">휴관</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.closed_date }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">관람료</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.charge }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">전화번호</span></th>
                    <td><span class="border-start ps-3 text-secondary">{{ post.number }}</span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">사이트</span></th>
                    <td><span class="border-start ps-3 "><a class="link-dark" href="{{ post.homepage }}">홈페이지 바로가기</a></span></td>
                </tr>
                <tr>
                    <th scope="row"><span class="">작가</span></th>
                    <td><span class="border-start ps-3 ">{{ artist.name_ko }}최인수</span></td>
                </tr>            
            </table>
        </div>
    </div>
</div>


<hr>
<!-- 전시 사진 내용 -->
{% for image in images %}
<div class="my-5 text-center">
    <h5 class="mb-5">전시 정보</h5>
    <img class="detail_b_img"  src="https://art-map.co.kr/art-map/public/upload/2023/04/exhibition/8a0e457cf9726765c33232e9d0327a29_1BecomingaPlace12019Zelkova188.5x17.2x9.5cm.jpg" alt="">
    
    <div>최인수 장소가 되다-1</div>
    <div>2019년 Zelkova 188.5x17.2x9.5cm</div>
    <div>(이미지 제공 = 데이트갤러리)</div>
</div>
{% endfor %}

<!-- 설명 -->
<div class="container" style="color:gray;">
    <p>오프닝 :{{ post.regDate }}</p>
    <p>-</p>
    <p>{{ post.description }}</p>
    <p class="my-4"><b>※ 아트맵에 등록된 이미지와 글의 저작권은 각 작가와 필자에게 있습니다.</b></p>
</div>
<hr>

{% include 'posts/review.html' %}

{% endblock content %}
