{% extends 'base.html' %}

{% block content %}
  <div class="border-top">
    <div class="mt-5">
      {% comment %} {% for info in theme %} {% endcomment %}
      <!-- 테마 정보 상자 -->
        <div class="container d-flex flex-column justify-content-center align-items-center">
          <p>2023-05-01</p>
          <div class="d-flex align-items-center mb-4">
            <!-- 테마 제목 -->
            <h1>{{ theme.title }}</h1>
            {% comment %} <span class="material-symbols-outlined ms-2 text-secondary">
              share
            </span> {% endcomment %}
          </div>
          <!-- 디스크립션 내용 -->
          <p class="text-secondary">{{ theme.description }}</p>
          <div class="circle mt-3 mb-5 "></div>
        </div>
      {% comment %} {% endfor %} {% endcomment %}
      
      {% for post_list in theme.exhibitions.all %}
      <!-- 각 전시회 내용 및 링크 -->
        <a class="tag_a" href="{% url 'posts:detail' post_list.pk %}">
          <div class="container my-5">
            <div class="row">
              <div class="mb-5 col-lg-5 d-flex align-items-center justify-content-center">
                <!-- 전시회 대표 이미지(포스터) -->
                <img class="theme_img" src="{{ post_list.thumbnail.url }}" alt="theme_img" enctype="multipart/form-data">              
              </div>
              <div class="col-lg-7">
                <h3 class="mb-4 text-lg-start text-center">{{ post_list.title }}</h3>
                <p class="text-lg-start text-center">장소 : {{ post_list.venue }}</p>
                <p class="text-lg-start text-center">주소 : {{ post_list.address }}</p>
                <p class="text-lg-start text-center">기간 : {{ post_list.time }}</p>
                <!-- 상세 설명문 -->
                <p class="over_text">{{ post.description }}Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam, quo recusandae commodi temporibus possimus impedit optio praesentium explicabo! Cumque omnis accusamus necessitatibus temporibus rerum impedit ab doloremque, ad possimus.</p>
              </div>
            </div>
          </div>
          <hr class="mx-auto" style="width:95%;">
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
