<!-- 리뷰 작성 및 조회 -->
<div class="container">
    <div class="d-flex align-items-center flex-column mt-4">
      <h2 class="text-center" style="font-weight: bolder; position:absolute; ">REVIEW</h2>
      <div class="d-flex justify-content-end w-75">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#review">
          CREATE
        </button>
      </div>
    </div>
  </div>
  
{% for review in reviews %}
<hr class="mx-auto" style="width:80%;">
<div class="my-3 " style="color:rgb(106, 106, 106);margin:0 20%;" >
    {% if review.user == user %}
    <form action="{% url 'posts:review_delete' post.pk review.pk %}" method="POST">
    {% csrf_token %}
        <div class="position-relative">
            <button type="submit" class="close-btn btn-close" aria-label="Close" onclick="return confirm('삭제 하시겠습니까?')">
            </button>
        </div>
    </form>
    {% endif %}
    <div class="d-flex align-items-center gap-4 mt-2">
        <!-- 프로필 이미지 -->
        <a href="{% url 'accounts:profile' user.nickname %}">
            {% if review.person.profile_image %}
            <img src="{{ review.person.profile_image.url }}" alt="post_image" class="rounded-circle" width="50" height="50">
            {% else %}
            <img src="https://i.pinimg.com/564x/d2/98/4e/d2984ec4b65a8568eab3dc2b640fc58e.jpg" alt="no_image" class="rounded-circle" width="50" height="50">
        </a>
        <!-- 닉네임 -->
        <span>
            <div class="d-flex gap-3">
                <span><b><a class="text-decoration-none text-secondary" href="{% url 'accounts:profile' review.user.nickname  %}">{{ review.user.nickname }}</a></b></span>
                <p class="ms-2"style="word-wrap: break-word; max-width: 400px;">{{ review.content }}</p>
            </div>
        </span>
        {% endif %}
    </div>
    <!-- 좋아요 -->
    <div class="d-flex justify-content-end align-items-center gap-3" style="margin-left:10%;">
        {% if user %}
        <form id="review-form" data-user-id="{{ user.pk }}" action="{% url 'posts:review_like' post.pk review.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in review.like_users.all %}
            <input type="submit" value="♥" class="heart-button">
            {% else %}
            <input type="submit" value="♡" class="heart-button">
            {% endif %}
        </form>
        
        <!-- 이건 뺄지 넣을지 의견 받습니다-->
        {% comment %} <span>{{ review.like_users.count }}</span> {% endcomment %}
        {% if review.user == user %}
        <span type="button" class="badge rounded-pill text-bg-secondary" data-bs-toggle="modal" data-bs-target="#update" onclick="toggleReviewContent()">수정하기</span>
        {% endif %}
    {% endif %}

    </div>
</div>
<!-- 리뷰 업데이트 modal -->
<div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateLabel">리뷰를 수정하시오.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if review.user == user %}
            <form id="reviewForm" action="{% url 'posts:review_update' post.pk review.pk %}" method="POST">
                {% csrf_token %}
                <label for="">내용 : </label>
                <input class="form-control mb-4" type="text" value="{{ review.content }}">
                <input class="form-control" type="submit" value="수정">
                {% comment %} <span class="badge rounded-pill text-bg-secondary" onclick="toggleReviewContent()">수정하기</span> {% endcomment %}
              </form>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}


<!-- MODAL -->
<!-- 리뷰 생성 modal -->
<div class="modal fade" id="review" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewLabel">리뷰를 작성하시오.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'posts:review_create' post.pk %}" method="POST">
                {% csrf_token %}
                {{ review_form }}
                <input style="width:100%;" class="btn btn-primary" type="submit" value="작성하기">
            </form>
        </div>
      </div>
    </div>
  </div>





<script>
    function toggleReviewContent() {
      var reviewContent = document.getElementById("reviewContent");
      if (reviewContent.style.display === "none") {
        reviewContent.style.display = "block";
      } else {
        reviewContent.style.display = "none";
      }
    }


  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/review.js' %}"></script>
    <script>
      const triggerTabList = document
        .querySelectorAll('#myTab button')triggerTabList
        .forEach(triggerEl => {
          const tabTrigger = new bootstrap
            .Tab(triggerEl)triggerEl
            .addEventListener('click', event => {
              event
                .preventDefault()tabTrigger
                .show()
            })
        })
    </script>
  
